
.taskList {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.button__removeTask {
    color: white;
    background-color: hsl(0, 100%, 50%);
    border: none;    
    width: 30px;
    height: 30px;
}

.button__removeTask:hover {   
    background-color: hsl(0, 60%, 50%);   
}

.button__done{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    color: white;
    background-color: green;
    border: none;
    width: 30px;
    height: 30px;
}

.button__done:hover {
    background-color: hsl(120, 60%, 25%);    
}

.taskDoneLineThrough {
    text-decoration: line-through;
   };