.container {
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(4, 50px autofill);
    grid-gap: 4px;
}

.container__header__H1 {
    padding: 15px;
    padding-left: 0;
    margin: 0;
    font-weight: 500;
}

.container__subHeader__H2 {
    padding: 15px;
    background-color: white;
    margin: 0;
    font-weight: 500;
    font-size: large;
}

.container__form {
    FONT-WEIGHT: 100;
    padding: 19px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr auto);
    grid-column-gap: 15px;
}

@media (max-width: 767px) {
    .container__form {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }

    .container__form--input {
        grid-column: span 3;
    }

    .container__form--button {
        grid-column: span 3;
    }
}

.container__form--input {
    padding: 10px;
    background-color: white;
    font-weight: 400;
    border: solid 1px grey;
    grid-column: span 3;
}

.container__form--button {
    padding: 10px;
    background-color: hsl(188, 98%, 26%);
    color: rgb(255 255 255);
    font-weight: 400;
    border: none;
}

.container__form--button:hover {
    background-color: hsl(188, 70%, 26%);
}

.container__form--button:active {
    background-color: hsl(188, 70%, 16%);
}

.container__subHeader__H3 {
    padding: 16px;
    background-color: white;
    margin-top: 5px;
    font-weight: 500;
    font-size: large;
}

.container__tasks {
    margin-top: -17px;
    padding: 26px;
    background-color: white;
}