.section__tasks {
    padding: 26px;
    background-color: white;
}

.taskList {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.taskButton {
    border: none;
    width: 30px;
    height: 30px;
}

.taskButton--done {
    color: white;
    background-color: green;
}

.taskButton--done:hover {
    background-color: hsl(120, 60%, 25%);  
}

.taskButton--removeTask {
    color: white;
    background-color: hsl(0, 100%, 50%);
}

.taskDone {
    text-decoration: line-through;
}

.taskButton--removeTask:hover {
    background-color: hsl(0, 60%, 50%);   
}


.taskList--hidden {
    display: none;
}